/*** COLOR VARIABLES ***/
:root {
    --color-jaguar: #07011A;
    --color-black-russian: #090021;
    --color-paua: #18005B;
    --color-alto: #DADADA;
    --color-silver-opac75: #c3bebec7;
    --color-white-opac75: #ffffffc5;
}

/*** THEMES ***/
[data-theme="dark"] {
    --bg-color: var(--color-black-russian);
    --text-color: #fff;
    --tiles-bg-color: #fff;
    --overlay-bg-color: var(--color-silver-opac75);
    --ts-knob-bg-color: var(--color-paua);
    --ts-bg-color: var(--color-jaguar);
    --ts-text-bg-color: #fff;
    --ts-text-color: var(--color-jaguar);
}

[data-theme="light"] {
    --bg-color: #fff;
    --text-color: var(--color-paua);
    --tiles-bg-color: var(--color-paua);
    --overlay-bg-color: var(--color-white-opac75);
    --ts-knob-bg-color: var(--color-paua);
    --ts-bg-color: var(--color-alto);
    --ts-knob-color: #fff;
    --ts-color: var(--color-black-russian);
}

/*** GLOBAL SELECTORS ***/
* {
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.2s ease all;
    background-color: var(--bg-color);
}

img {
    width: 31px;
    height: 31px;
}

/*** CONDITIONAL CLASSES ***/
.hide {
    display: none;
}

.show {
    display: flex;
}

/*** OUTER COMPONENT ***/
.main-container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    color: var(--text-color);
}

/*** HEADER ***/
.header-title {
    font-family: 'Rampart One';
    font-size: 72px;
}

/*** TIC - TAC - TOE ***/
.ttt-container, .switches {
    display: flex;
    flex-direction: column;
}

.ttt-container {
    align-items: center;
    color: var(--text-color);
}

.ttt__current-user {
    font-size: 24px;
}

.ttt {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 360px;
    height: 360px;
    border-radius: 20px;
    margin: 30px 0 0 0;
    background-color: transparent;
}

.ttt__tiles {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--tiles-bg-color);
    width: 32%;
    height: 32%;
    cursor: pointer;
}

.ttt__tiles:nth-child(1) {
    border-top-left-radius: 20px;
}

.ttt__tiles:nth-child(3) {
    border-top-right-radius: 20px;
}

.ttt__tiles:nth-child(7) {
    border-bottom-left-radius: 20px;
}

.ttt__tiles:nth-child(9) {
    border-bottom-right-radius: 20px;
}

.ttt__outcome__overlay {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: inherit;
    height: inherit;
    top: 0;
    background: var(--overlay-bg-color);
    border-radius: 20px;
}

.ttt__outcome__overlay>* {
    padding: 28px 40px;
    text-align: center;
    cursor: pointer;
}

.ttt__outcome__winner {
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.ttt__outcome__restart {
    font-weight: 300;
    font-size: 18px;
    color: var(--color-black-russian);
}

.ttt__tiles>* {
    color: var(--bg-color);
    width: 76px;
    height: 76px;
}

.xo {
    position: absolute;
    top: 0;
    font-size: 100px;
    text-align: center;
}

/*** FOOTER ***/
.footer {
    text-align: center;
    font-size: 18px;
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/*** SWITCH ***/
.switches {
    margin: 30px 0;
}

.switch {
    margin: 20px 0 0 0;
    position: relative;
    display: inline-block;
    width: 190px;
    height: 60px;
    border-radius: 20px;
}

.slider {
    display: flex;
    position: relative;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 2px solid var(--ts-knob-bg-color);
    background-color: var(--ts-bg-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider .knob {
    -webkit-transform: translateX(96px);
    -ms-transform: translateX(96px);
    transform: translateX(96px);
}

input[type="checkbox"] {
    display: none;
}

.slider.rounded-border {
    border-radius: 20px;
}

.slider>div:not(.knob) {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: var(--ts-color);
    font-size: 12px;
    font-weight: bold;
    word-wrap: break-word;
    width: 95px;
    height: 100%;
    z-index: 1;
}

.knob {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
    width: 50%;
    height: 100%;
    font-size: 13px;
    background-color: var(--ts-knob-bg-color);
    color: var(--ts-knob-color);
    border-radius: 18px;
    transition: 0.4s ease left, 0.4s ease transform;
    z-index: 2;
}

#ai-level,
#dark-mode,
#alright {
    right: 0;
    margin-left: 70px;
}

#player-level,
#ai-level {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#player-level>div,
#ai-level>div {
    width: min-content;
}

/*** TABLET AND MOBILE BREAKPOINTS ***/
@media screen and (max-width: 744px) {
    .header-title {
        font-size: 48px;
    }
}

@media screen and (max-height: 640px) and (orientation: landscape) {
    .header-title {
        font-size: 36px;
        margin: 0 0 32px 0;
    }

    .xo {
        font-size: 75px;
    }

    .ttt {
        width: 260px;
        height: 260px;
    }

    .ttt__outcome__winner {
        font-size: 30px;
    }

    .ttt__outcome__restart {
        font-size: 17px;
    }
}

@media screen and (max-width: 428px) {
    .main-container {
        padding: 24px 0;
    }

    .header-title {
        font-size: 36px;
        margin: 0 0 16px 0;
    }

    .ttt {
        width: 300px;
        height: 300px;
    }

    .xo {
        font-size: 85px;
    }

    .ttt-container>* {
        margin: 15px 0;
    }

    .ttt__current-user {
        font-size: 20px;
    }

    .footer__copyright {
        font-size: 15px;
    }

    .ttt__outcome__winner {
        font-size: 30px;
    }

    .ttt__outcome__restart {
        font-size: 15px;
    }
}